body {
	background-color: #F5F5F5
}

#cara_kerja{
	padding-top: 20px;
	padding-left: 20px;
	width: 100%;
	text-align: justify;
}

#contoh_cara_kerja{
	margin-bottom: 0 !important;
}

#konten{
	margin: 50px;
}

#judul{
	text-align: center;
	padding-bottom: 50px;
	margin-top: 20px;
}

#tombol{
	margin-top: 10px;
}

#user_input{
	width: 100%;
	height: 200px;
}

#output-text{
	width: 100%;
	height: 200px;
}

#desc{
	background-color: #272a2f;
	margin-top: 20px;
	margin-bottom: 0px;
}

#link_API{
	color: #ff0000;
}

#kontenfooter{
	margin-left: 50px;
	margin-right: 50px;
}
